html {
  color: black;
  background-color: #D0B080;
  font-family: 'Fredoka One', cursive;
}

header {
  background-color: #FFD0A0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  font-size: 5em;
  margin-top:20px;
  flex: 1 0 auto;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #B09060 !important;
}

.clock-container {
  width: 250px;
  height: 250px;
}

.score-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20px;
}

.left-edge {
  left: 20px;
}

.right-edge {
  right: 20px;
}

.score-divider {
  width: 20px;
  height: 100%;
  color: #000 !important;
  font-size: 9em;
}

.big-circle {
  z-index: 1;
  width: 90%;
  height: 90%;
  background-color: #11BB55;
  border-radius: 50%;
  margin: auto;
  font-size: 10em;
  cursor: pointer;
}

.med-circle {
  height: 100%;  
  background-color: #000;
  border-radius: 50%;
  margin: auto;
  font-size: 9em;
  cursor: pointer;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.number {
  color: #FFF;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.blue-bg {
  background-color: #5599DD;
}

.brown-bg {
  background-color: #EE5A5A;
  /*background-color: #886644;*/
}

input {
  border-color: white !important;
  font-family: Roboto, sans;
  font-weight: 400;
  font-size: 1em !important;
}

.body-button {
  background-color: #D0B080;
}

.body-button:hover {
  background-color: #D7B787;
}

footer.page-footer {
  padding-top: 10px !important;
}

.card-panel {
  background-color: #FFE0C0 !important;
  color: #442010;
}






/* label color */
   .input-field label {
     color: #FFF;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FFF;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 #FFF;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #FFF;
   }  