html {
  color: black;
  background-color: #D0B080;
  font-family: 'Fredoka One', cursive;
}

header {
  background-color: #FFD0A0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  font-size: 5em;
  margin-top:20px;
  flex: 1 0 auto;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #B09060 !important;
  color: #FFE0C0 !important;
}

footer a i {
  color: #FFE0C0 !important;
}

.clock-container {
  width: 250px;
  height: 250px;
}

.score-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20px;
}

.left-edge {
  left: 20px;
}

.right-edge {
  right: 20px;
}

.score-divider {
  width: 20px;
  height: 100%;
  color: #000 !important;
  font-size: 9em;
}

.big-circle {
  z-index: 1;
  width: 90%;
  height: 90%;
  background-color: #11BB55;
  border-radius: 50%;
  margin: auto;
  font-size: 10em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.med-circle {
  height: 100%;  
  background-color: #000;
  border-radius: 50%;
  margin: auto;
  font-size: 9em;
  cursor: pointer;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.number {
  color: #FFF;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.blue-bg {
  background-color: #5599DD;
  transition: background-color 0.3s;
}

.brown-bg {
  background-color: #EE5A5A;
  transition: background-color 0.3s;
  /*background-color: #886644;*/
}

input {
  border-color: #FFE0C0 !important;
  font-family: Roboto, sans;
  font-weight: 400;
  font-size: 1em !important;
}

.body-button {
  background-color: #D0B080;
}

.body-button:hover {
  background-color: #D7B787;
}

footer.page-footer {
  padding-top: 10px !important;
}

.card-panel {
  background-color: #FFE0C0 !important;
  color: #442010;
}

#timeout {
  z-index: 10;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: red;
  padding: 100px;
  border-radius: 75px;
  color: #FFE0C0;
  background-color: #442010;
  font-size: 9rem;
  transition: top 1s;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;
}

#timeout:hover {
  background-color: #553020;
  transition: background-color 0.3s;
}

.navigation-button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.navigation-button a {
  background-color: #FFD0A0;
}

.navigation-button a:hover {
  background-color: #FFD7A7;
}

.navigation-button a i {
  color: #B09060;
}

#button-left {
  left: 20px;
}

#button-right {
  right: 20px;
}

.btn-large {
  line-height: 27px;
}





/* label color */
   .input-field label {
     color: #FFE0C0;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FFE0C0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFE0C0;
     box-shadow: 0 1px 0 0 #FFE0C0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #FFE0C0;
   }  



@media screen and (max-width: 1280px) {
  #timeout {
    font-size: 6rem;
    padding: 50px;
  }
}

@media screen and (max-width: 800px) {
  #timeout {
    font-size: 4rem;
  }
}